{% extends 'base.html' %}
{% block content %}
 <h2>Adicionar Contato</h2>
 <form method="POST">
    <div>

        <label>Nome Completo:</label>
        <input type="text" name="name" required>
    </div>
    <div>

        <label>Número de Telefone:</label>
        <input type="tel" name="phone" placeholder="(99) 9999-9999" pattern="(\([0-9]{2}\))\s([9]{1})?([0-9]{4})-([0-9]{4})" required>
    </div>
    <div>

        <label>E-mail:</label>
        <input type="email" name="email" required>
    </div>
 <button type="submit">Adicionar</button>
 </form>
{% endblock %}