{% extends 'base.html' %}
{% block content %}
<h2>Contatos</h2>

{% if not contacts %}
<h3>Banco de dados vazio, insira algum dado</h3>
{% endif %}


<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.name }} </td>
            <td> {{ contact.phone }} </td>
            <td> {{ contact.email }}</td>
            <td>

                <a href="/edit/{{ contact.id }}">🖋️Editar</a>
                <a href="/delete/{{ contact.id }}">🗑️Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}